/*
  Designer: Meher Salim
  Filename: create-character.component.css
  Date: 08/23/2024
*/

.create-character-container {
  margin: 20px;
  padding: 20px;
  border: inherit #ccc;
  border-radius: 5px;
  max-width: 500px;
  background-color: black;
  color: white;
}

.create-character-container h2 {
  text-align: center;
}

.create-character-container div {
  margin-bottom: 15px;
}

.create-character-container label {
  display: inline-block;
  width: 100px;
  padding-bottom: 5px;
}

.create-character-container input,
.create-character-container select {
  padding: 5px;
  width: 100%;
}

.create-character-container button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}

.character-list {
  margin-top: 30px;
}

.character-list ul {
  list-style-type: none;
  padding: 0;
}

.character-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
