<!--
  Developer: Meher Salim
  Filename: signin.component.html
  Date: 08/23/2024
-->

<div class="signin-container">
    <h1>Sign In</h1>
    <form>
      <label for="username">Username:</label>
      <input class="input1" id="username" type="text" placeholder="Enter your username" />
      <label for="password">Password:</label>
      <input class="input2" id="password" type="password" placeholder="Enter your password" />
      <button type="submit" class="button">Sign In</button>
    </form>
  </div>