<!--
  Developer: Meher Salim
  Filename: guild-list.component.html
  Date: 09/26/2024
-->

<div *ngIf="guilds.length === 0" class="empty-message">
  No guilds available
</div>

<div *ngIf="guilds.length > 0">
  <h2>Created Guilds</h2>
  <div class="guild-card-container">
    <div class="guild-card" *ngFor="let guild of guilds">
      <h3>{{ guild.guildName }}</h3>
      <p>{{ guild.description }}</p>
      <p>Type: {{ guild.type }}</p>
      <p>Notification: {{ guild.notificationPreference }}</p>
    </div>
  </div>
</div>