<!-- 
  Designer: Meher Salim
  Filename: app.component.html
  Date: 08/16/2024
-->
<div class="container">
  <header>
    <!--Navigation Menu-->
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Characters</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!--Main Content Area-->
  <main>
    <router-outlet></router-outlet>
  </main>

  <!--Footer with Navigation Menu-->
  <footer>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Characters</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </footer>
</div>