<!--
  Developer: Meher Salim
  Filename: players.component.html
  Date: 08/23/2024
-->

<div class="players-container">
  <h1>Players</h1>
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Search players"
      class="search-input"
    />
  </div>
  <button (click)="addPlayer()" class="add-button">Add New Player</button>
  <table class="players-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Class</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of filteredPlayers">
        <td>{{ player.id }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.class }}</td>
        <td>{{ player.level }}</td>
      </tr>
    </tbody>
  </table>
</div>