<!--
  Developer: Meher Salim
  Filename: home.component.html
  Date: 08/16/2024
-->
<div class="home-container">
  <p>
    Welcome to RPG Character Builder, your ultimate companion 
    for crafting and managing your RPG characters! Whether you're 
    embarking on an epic adventure or diving into a thrilling quest, 
    our application offers a comprehensive toolset to help you create 
    and customize your characters with ease.
  </p>
    
  <p>
    Our platform is designed with gamers and RPG enthusiasts in mind, 
    providing an intuitive interface that allows you to manage every 
    aspect of your characters. From selecting unique traits and abilities 
    to customizing appearances and backgrounds, you have complete 
    control over the attributes that define your heroes.
  </p>
    
  <p>
    One of the key features of our application is its flexibility. 
    You can create characters for various RPG systems, ensuring that 
    you have the right tools no matter which game you're playing. 
    The ability to save and organize your characters means you'll 
    never lose track of your progress or ideas.
  </p>
    
  <p>
    Our character builder also includes pre-set templates and 
    suggestions to help you get started quickly. Whether you're a 
    seasoned RPG veteran or new to the genre, our application is 
    designed to make character creation an enjoyable and straightforward 
    process.
  </p>
    
  <p>
    Explore the endless possibilities and let your imagination run 
    wild with RPG Character Builder. Your next adventure awaits, 
    and we are here to help you bring your characters to life. Dive 
    in, start building, and make your RPG experience unforgettable!
  </p>
    
  <img src="/src/assets/celeana.png" alt="Celeana" class="main-character">
  <img src="/src/assets/nahri.png" alt="Nahri" class="main-character">
  <img src="/src/assets/rose.png" alt="Rose" class="main-character">
    
  <p class="reviews">
    The perfect place for all your RPG Characters at your fingers 
    in one convenient app. Want to learn more about us? Hear from 
    our loyal users <a href=”#” class="link">here</a>, and learn any we are their 
    number one choice.
  </p>
</div>

